
.headerbar__container {
  background: linear-gradient(to right, #ff2786, #ff6f56);
}
.headerbar {
  display: flex;
  align-items: center;
  height: 1rem;
  padding: 0 0.3rem;
  color: #fff;
}
.headerbar__title {
  flex-grow: 1;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.ranks__nav {
  display: flex;
  align-items: center;
  padding: 0 0.3rem;
  box-shadow: inset 0px -1px 1px -1px #e9e9e9;
  background-color: #fff;
}
.ranks__nav-list {
  display: flex;
  align-items: center;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: -1px;
}
.ranks__nav-list li {
  flex: 1 0 auto;
  padding: 0.3rem 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  margin: 0 0.2rem;
  font-size: 14px;
  color: #323237;
}
.ranks__nav-list li.active {
  font-size: 16px;
  color: #ff2941;
  border-bottom-color: #ff2941;
}
.rank-goods__list {
  overflow: hidden;
  background-color: #fff;
}
.rank-goods__item {
  position: relative;
  padding: 0.2rem 0.3rem;
  border-bottom: 1px solid #f5f5f5;
}
.rank-goods__goods-thumbnail {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.rank-goods__goods-thumbnail img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.rank-goods__goods-yuezhuan {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.05rem 0.2rem;
  border-top-left-radius: 10px;
  font-size: 12px;
  color: #fff;
  background-color: #fb301d;
}
.rank-goods__goods-info {
  position: relative;
}
.rank-goods__goods-title {
  padding: 0.2rem;
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #323237;
}
.rank-goods__goods-desc {
  padding: 0.2rem;
  padding-top: 0;
  margin: 0;
  font-size: 12px;
  color: #929297;
}
.rank-goods__goods-meta {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}
.rank-goods__goods-meta-item {
  display: flex;
  justify-content: space-between;
  padding: 0 0.2rem;
  font-size: 12px;
  color: #929297;
}
.rank-goods__goods-meta-quan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.2rem;
  margin-top: 0.1rem;
  font-size: 12px;
  color: #929297;
}
.rank-goods__goods-meta-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rank-goods__goods-meta-price span {
  display: inline-block;
  border: 1px solid #f66318;
  padding: 2px 8px;
  font-size: 10px;
  border-radius: 15px;
  color: #f66318;
}
.rank-goods__goods-meta-price strong {
  font-size: 16px;
  color: #ff2941;
}
.quan-price {
  display: inline-block;
  padding: 2px 8px;
  font-size: 12px;
  color: #fff;
  border-radius: 10px;
  background: linear-gradient(to right, #ff2786, #ff6f56);
}
.delete-btn {
  position: absolute;
  top: 0;
  right: -1.5rem;
  width: 1.5rem;
  background: #f00;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.yuezhuan {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.05rem 0.2rem;
  border-top-left-radius: 10px;
  font-size: 12px;
  color: #fff;
  background-color: #fb301d;
}

