
body {
  background: #e9e9e9;
}
.alipay-headerbar {
  background: linear-gradient(to right, #ff2786, #ff6f56);
}
.headerbar {
  display: flex;
  align-items: center;
  height: 1rem;
  padding: 0 0.3rem;
  margin-bottom: 0.2rem;
  color: #fff;
}
.headerbar__title {
  flex-grow: 1;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.form {
  padding: 0 0.3rem;
  background: #fff;
}
.form__item {
  display: flex;
  align-items: center;
  height: 0.88rem;
  line-height: 0.88rem;
  border-bottom: 1px solid #e9e9e9;
}
.form__item:last-child {
  border-bottom: 0;
}
.form__label {
  flex: 0 0 auto;
  margin-right: 0.3rem;
  font-size: 14px;
  color: #929297;
}
.form__input {
  flex-grow: 1;
  font-size: 14px;
  color: #323237;
}
.form__input input {
  width: 100%;
  font-size: 12px;
  border: 1px solid #e4e4e4;
  padding: 0.1rem 0.2rem;
  border-radius: 0.05rem;
  outline: none;
}
.form__strong {
  font-size: 22px;
  color: #ff2941;
}
.form__strong span {
  font-size: 14px;
}
.alipay__jine {
  width: 2rem;
  border: 0;
  outline: 0;
  font-size: 22px;
  color: #ff2941;
}
.form__btn {
  flex: 0 0 auto;
  height: 0.6rem;
  margin-left: 0.3rem;
  line-height: 0.6rem;
  padding: 0 0.2rem;
  border-radius: 0.4rem;
  font-size: 12px;
  color: #c0b9b6;
  background: #f5f5f5;
}
.form__btn.active {
  background: #ff2941;
  color: #fff;
}
.keyongyue {
  padding: 0 0.3rem;
  font-size: 14px;
  color: #ff2941;
}
.submit-btn {
  height: 1rem;
  margin: 0.3rem;
  text-align: center;
  border-radius: 1rem;
  line-height: 1rem;
  font-size: 16px;
  color: #c0b9b6;
  background-color: #f5f5f5;
}
.submit-btn.active {
  color: #fff;
  background: linear-gradient(to right, #ff2786, #ff6f56);
}

